@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(bootstrap-grid.min.css);
@import url(bootstrap-reboot.min.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:ital,wght@0,400;1,500&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #282828; }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #575757;
  margin: 0; }

header {
  color: white;
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover;
  padding-top: 57px;
  padding-bottom: 154px; }
  header .menu {
    width: 100%;
    display: flex;
    margin-bottom: 155px; }
    header .menu .Get {
      text-align: center;
      text-transform: uppercase;
      min-width: 168px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 36px;
      line-height: 58px; }
  header .logo {
    margin-top: 16px;
    display: inline-block;
    max-width: 118px;
    max-height: 24px; }
  header .navbar {
    display: inline-block; }
  header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .active > .nav-link {
    color: white; }

#about_us span.about {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300; }
#about_us h1 {
  text-transform: uppercase;
  font-size: 48px;
  color: white;
  font-weight: 700;
  margin: 160px 0 -10px; }
  #about_us h1 span {
    font-size: 48px;
    color: #00cff1;
    font-weight: 700; }
    #about_us h1 span:last-of-type {
      font-weight: 300; }
#about_us p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 55px; }

a.button {
  min-width: 170px;
  height: 60px;
  display: inline-block;
  text-align: left;
  background-color: #24c657;
  border-radius: 8px;
  padding: 14px 0 10px;
  margin-right: 15px;
  position: relative; }
  a.button:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f3ab";
    font-size: 30px;
    top: 8px;
    left: 15px; }
  a.button:last-of-type {
    margin-right: 0;
    margin-left: 15px;
    background-color: transparent;
    border: 1px solid white; }
    a.button:last-of-type:before {
      content: "\f179";
      font-size: 34px;
      top: 2px; }
  a.button span {
    font-size: 16px;
    margin-left: 55px;
    display: block;
    font-weight: 700; }
    a.button span:first-of-type {
      font-size: 9px;
      margin-bottom: -4px;
      font-weight: 300; }
      a.button span:first-of-type:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased; }

#pluses {
  margin: 170px 0 275px; }
  #pluses i {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #24c657;
    margin: auto;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #pluses i:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #pluses .fa-scroll {
    background-color: #00cff1; }
  #pluses .fa-cogs {
    background-color: #ff45c4; }
  #pluses .fa-layer-group {
    background-color: #ff9d46; }
  #pluses .border {
    margin: 0 auto 56px;
    position: relative;
    width: 114px;
    height: 114px;
    border: 1px solid #f1f1f1;
    border-radius: 50%; }
  #pluses span {
    font-weight: 700;
    font-size: 18px;
    color: #414040;
    display: inline-block;
    margin-bottom: 22px; }

#features {
  margin-bottom: 140px; }
  #features h2 {
    margin-bottom: 22px; }
    #features h2 span {
      color: #00cff1; }
  #features p {
    margin-bottom: 30px; }
  #features .for_img {
    max-width: 470px;
    max-height: 609px; }
  #features .feature {
    margin-bottom: 40px; }
    #features .feature span {
      font-size: 18px;
      font-weight: 700;
      color: #414040;
      display: inline-block;
      margin-bottom: 10px; }
      #features .feature span:before {
        display: block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f3a5";
        font-size: 36px;
        color: #01cff1;
        margin-bottom: 20px; }
    #features .feature p {
      color: #414040;
      margin-bottom: 0; }
  #features .second span:before {
    content: "\f577"; }
  #features .third span:before {
    content: "\f0f3"; }
  #features .fourth span:before {
    content: "\f1da"; }

#overview {
  margin-bottom: 140px; }
  #overview a.button:last-of-type span {
    margin-left: 65px; }
  #overview a.button:before {
    content: "\f179"; }
  #overview a.button:last-of-type {
    color: black;
    border-color: black; }
    #overview a.button:last-of-type:before {
      content: "\f3ab";
      font-size: 30px;
      top: 8px; }
  #overview h2 {
    margin-bottom: 22px; }
    #overview h2 span {
      color: #00cff1; }
  #overview p {
    margin-bottom: 56px; }
  #overview .app_overview {
    padding: 132px 0 128px; }
  #overview .for_video {
    height: 100%;
    position: relative; }
    #overview .for_video:after {
      display: block;
      position: absolute;
      content: " ";
      width: 100.1%;
      height: 100%;
      background-color: rgba(69, 201, 113, 0.8);
      top: 0; }
    #overview .for_video:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f144";
      color: white;
      font-size: 80px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.owl-dots .owl-dot span {
  display: inline-block;
  width: 40px;
  height: 7px;
  border-radius: 4px;
  background-color: #ebe9ff;
  margin: 0 5px;
  transition: .3s; }

.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -60px; }

.owl-dot.active span {
  background-color: #00cff1;
  width: 60px;
  height: 7px; }

#screenshots {
  margin-bottom: 140px; }
  #screenshots .for_img {
    max-width: 350px;
    max-height: 658px; }
  #screenshots h2 {
    margin-bottom: 30px; }
    #screenshots h2 span {
      color: #00cff1; }
  #screenshots p {
    margin-bottom: 80px;
    max-width: 465px; }

.line {
  margin-bottom: 140px;
  padding: 100px 0;
  background-image: url("../images/line_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover; }
  .line .item {
    transform: skew(35deg, -35deg);
    border: 2px dashed white;
    border-radius: 10px;
    height: 180px;
    width: 150px;
    text-align: center;
    position: relative; }
    .line .item:last-of-type .anti_skew {
      left: 40px; }
      .line .item:last-of-type .anti_skew:after {
        width: 0; }
    .line .item:nth-child(2) .anti_skew:after {
      right: -107px;
      top: 40px; }
    .line .item:nth-child(3) .anti_skew {
      left: 40px; }
      .line .item:nth-child(3) .anti_skew:after {
        right: -110px;
        top: 40px; }
    .line .item span {
      display: block;
      font-size: 36px;
      color: #fefefe;
      font-weight: 700; }
      .line .item span:last-of-type {
        font-size: 12px;
        font-weight: 400; }
    .line .item .anti_skew {
      text-align: center;
      transform: skew(-35deg, 35deg);
      position: absolute;
      left: 35px;
      top: 45px; }
      .line .item .anti_skew:after {
        display: block;
        height: 2px;
        content: " ";
        background-color: white;
        position: absolute;
        z-index: -5;
        width: 72px;
        right: -99px;
        top: 40px; }

#feed {
  margin-bottom: 140px; }
  #feed .content {
    margin: 0 auto 80px; }
    #feed .content h2 span {
      color: #00cff1; }
  #feed .for_feedback_img {
    max-width: 90px;
    max-height: 90px;
    overflow: hidden;
    margin: 0 auto 30px; }
  #feed .item, #feed .item_g {
    padding: 56px 44px 48px;
    border: 2px solid #ececec;
    text-align: center; }
    #feed .item span, #feed .item_g span {
      display: block;
      font-size: 18px;
      margin-bottom: 35px; }
      #feed .item span:first-of-type, #feed .item_g span:first-of-type {
        color: #00cff1;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0; }
    #feed .item p, #feed .item_g p {
      margin-bottom: 30px; }
    #feed .item .fa-star, #feed .item_g .fa-star {
      font-size: 12px;
      color: #eec400; }
  #feed .item_g span:first-of-type {
    color: #24c657; }

#price_table {
  margin-bottom: 140px; }
  #price_table .info {
    margin: auto;
    text-align: center; }
    #price_table .info h2 span {
      color: #00cff1; }
    #price_table .info p {
      max-width: 600px;
      margin: 0 auto 39px; }
  #price_table .switcher {
    margin: 0 auto 79px;
    text-align: center; }
    #price_table .switcher span {
      text-align: center;
      padding: 22px 56px 21px;
      background-color: white;
      transition: ease-in-out .3s; }
    #price_table .switcher .active {
      background-color: #24c657;
      border-radius: 10px 0 0 10px; }
  #price_table .item {
    border: 1px solid #ededed;
    padding: 80px 0 78px;
    position: relative; }
    #price_table .item:nth-child(2) a {
      background-color: #24c657; }
    #price_table .item span {
      display: block;
      text-align: center;
      color: #575757;
      font-size: 18px;
      font-family: 'Raleway', sans-serif; }
      #price_table .item span:first-of-type {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #575757;
        margin-bottom: 33px; }
      #price_table .item span:nth-child(2) {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #00cff1;
        font-size: 60px;
        line-height: 60px; }
    #price_table .item ul {
      margin-top: 59px;
      padding: 0;
      list-style: none;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      color: #575757;
      font-size: 18px; }
      #price_table .item ul li {
        margin-bottom: 35px; }
        #price_table .item ul li:last-of-type {
          margin-bottom: 0; }
    #price_table .item a {
      text-align: center;
      text-transform: uppercase;
      background-color: #00cff1;
      display: inline-block;
      line-height: 50px;
      min-width: 170px;
      border-radius: 20px;
      font-weight: 600;
      font-size: 16px;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translate(-50%); }

#bg_line {
  background-image: url("../images/bottom_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover;
  padding-top: 69px;
  padding-bottom: 145px;
  margin-bottom: 140px;
  overflow: hidden; }
  #bg_line .backg {
    padding-top: 78px; }
    #bg_line .backg h2 {
      font-weight: 700;
      font-size: 36px;
      color: white; }
      #bg_line .backg h2:last-of-type {
        margin-bottom: 20px; }
    #bg_line .backg p {
      color: white;
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 56px; }
    #bg_line .backg .button:first-of-type {
      background-color: transparent;
      border: 1px white solid; }
      #bg_line .backg .button:first-of-type:before {
        content: "\f179"; }
    #bg_line .backg .button:last-of-type:before {
      content: "\f3ab"; }
  #bg_line .screens {
    position: relative; }
    #bg_line .screens .for_img {
      position: absolute;
      max-width: 370px;
      max-height: 658px; }
      #bg_line .screens .for_img:first-of-type {
        left: 0;
        z-index: 1; }
      #bg_line .screens .for_img:last-of-type {
        right: 0;
        top: 30px;
        z-index: 0; }

h3 {
  font-size: 24px; }

#r_news {
  margin-bottom: 50px; }
  #r_news .item:hover h3, #r_news .item:hover .readmore {
    transition: .3s;
    color: #00cff1; }
  #r_news h3 {
    font-weight: 700;
    font-size: 24px;
    color: #474747; }
  #r_news .for_img {
    max-width: 370px;
    max-height: 330px; }
  #r_news .info {
    margin: auto;
    text-align: center; }
    #r_news .info h2 {
      margin-bottom: 30px; }
      #r_news .info h2 span {
        color: #00cff1; }
    #r_news .info p {
      max-width: 600px;
      margin-bottom: 75px;
      font-family: 'Raleway', sans-serif; }
  #r_news .content {
    border: 1px solid #ededed;
    padding: 40px 28px; }
    #r_news .content p {
      margin-bottom: 25px; }
    #r_news .content .posted {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      margin-bottom: 25px; }
      #r_news .content .posted > span {
        font-weight: 400; }

.scrolltop {
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: 50px; }
  .scrolltop i {
    width: 70px;
    height: 70px;
    background-color: #24c657;
    border-radius: 50%;
    position: relative; }
    .scrolltop i:before {
      font-size: 20px;
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

footer .item {
  margin-bottom: 136px; }
  footer .item:first-of-type .for_img {
    max-width: 118px;
    max-height: 24px;
    margin-bottom: 58px; }
    footer .item:first-of-type .for_img img {
      width: 100%;
      height: 100%; }
  footer .item:first-of-type p {
    margin-bottom: 38px; }
  footer .item:first-of-type span {
    display: block;
    color: #575757;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  footer .item:first-of-type i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    margin: 0 5px; }
    footer .item:first-of-type i:before {
      color: white;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  footer .item:first-of-type .fa-facebook-f {
    background-color: #3b5998;
    margin-left: 0; }
  footer .item:first-of-type .fa-twitter {
    background-color: #55acee; }
  footer .item:first-of-type .fa-instagram {
    background-color: #6a453b; }
  footer .item:first-of-type .fa-linkedin-in {
    background-color: #007ab9;
    margin-right: 0; }
  footer .item:nth-child(2) ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-left: 34px; }
    footer .item:nth-child(2) ul:first-of-type {
      margin-right: 34px;
      margin-left: 0; }
    footer .item:nth-child(2) ul a {
      font-family: 'Raleway', sans-serif;
      color: #575757;
      font-size: 15px; }
    footer .item:nth-child(2) ul li {
      margin-bottom: 20px; }
      footer .item:nth-child(2) ul li:first-of-type {
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #575757;
        margin-top: -10px;
        margin-bottom: 55px; }
      footer .item:nth-child(2) ul li:last-of-type {
        margin-bottom: 0; }
  footer .item:last-of-type span {
    margin-top: -10px;
    margin-bottom: 55px; }
  footer .item:last-of-type form {
    color: #575757;
    font-family: 'Raleway', sans-serif;
    position: relative; }
    footer .item:last-of-type form input {
      min-width: 368px;
      border: 1px solid #d8d8d8;
      border-radius: 50px;
      padding: 0 0 0 25px;
      line-height: 58px;
      font-size: 15px; }
    footer .item:last-of-type form button.btn {
      width: 98px;
      height: 58px;
      background-color: #24c657;
      border-radius: 0 25px 25px 0;
      position: absolute;
      top: 33px;
      right: -17px; }
      footer .item:last-of-type form button.btn:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f1d8";
        color: white;
        font-size: 20px; }
footer .rights {
  padding: 34px 0;
  background-color: #24c657; }

/*# sourceMappingURL=styles.css.map */
