@import "bootstrap.min.css";
@import "bootstrap-grid.min.css";
@import "bootstrap-reboot.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:ital,wght@0,400;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif;;
  font-weight: 400;
}


a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #282828;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #575757;
  margin: 0;
}

header {
  color: white;
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover;
  padding-top: 57px;
  padding-bottom: 154px;

  .menu {
    width: 100%;
    display: flex;
    margin-bottom: 155px;

    .Get {
      text-align: center;
      text-transform: uppercase;
      min-width: 168px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 36px;
      line-height: 58px;
    }
  }

  .logo {
    margin-top: 16px;
    display: inline-block;
    max-width: 118px;
    max-height: 24px;
  }

  .navbar {
    display: inline-block;
  }

  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link {
    color: white;
  }
}

#about_us {
  span.about {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
  }

  h1 {
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin: 160px 0 -10px;

    span {
      font-size: 48px;
      color: #00cff1;
      font-weight: 700;

      &:last-of-type {
        font-weight: 300;
      }
    }
  }

  p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 55px;
  }
}

a.button {
  min-width: 170px;
  height: 60px;
  display: inline-block;
  text-align: left;
  background-color: #24c657;
  border-radius: 8px;
  padding: 14px 0 10px;
  margin-right: 15px;
  position: relative;

  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f3ab";
    font-size: 30px;
    top: 8px;
    left: 15px;
  }

  &:last-of-type {
    margin-right: 0;
    margin-left: 15px;
    background-color: transparent;
    border: 1px solid white;

    &:before {
      content: "\f179";
      font-size: 34px;
      top: 2px;
    }
  }

  span {
    font-size: 16px;
    margin-left: 55px;
    display: block;
    font-weight: 700;

    &:first-of-type {
      font-size: 9px;
      margin-bottom: -4px;
      font-weight: 300;

      &:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}

#pluses {
  margin: 170px 0 275px;

  i {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #24c657;
    margin: auto;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .fa-scroll {
    background-color: #00cff1;
  }

  .fa-cogs {
    background-color: #ff45c4;
  }

  .fa-layer-group {
    background-color: #ff9d46;
  }

  .border {
    margin: 0 auto 56px;
    position: relative;
    width: 114px;
    height: 114px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
  }

  span {
    font-weight: 700;
    font-size: 18px;
    color: #414040;
    display: inline-block;
    margin-bottom: 22px;
  }
}

#features {
  margin-bottom: 140px;

  h2 {
    margin-bottom: 22px;

    span {
      color: #00cff1;
    }
  }

  p {
    margin-bottom: 30px;
  }

  .for_img {
    max-width: 470px;
    max-height: 609px;
  }

  .feature {
    margin-bottom: 40px;

    span {
      font-size: 18px;
      font-weight: 700;
      color: #414040;
      display: inline-block;
      margin-bottom: 10px;

      &:before {
        display: block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f3a5";
        font-size: 36px;
        color: #01cff1;
        margin-bottom: 20px;
      }
    }

    p {
      color: #414040;
      margin-bottom: 0;
    }
  }

  .second {
    span {
      &:before {
        content: "\f577";
      }
    }
  }

  .third {
    span {
      &:before {
        content: "\f0f3";
      }
    }
  }

  .fourth {
    span {
      &:before {
        content: "\f1da";
      }
    }
  }
}

#overview {
  margin-bottom: 140px;

  a.button {
    &:last-of-type {
      span {
        margin-left: 65px;
      }
    }

    &:before {
      content: "\f179";
    }

    &:last-of-type {
      color: black;
      border-color: black;

      &:before {
        content: "\f3ab";
        font-size: 30px;
        top: 8px;
      }
    }
  }

  h2 {
    margin-bottom: 22px;

    span {
      color: #00cff1;
    }
  }

  p {
    margin-bottom: 56px;
  }

  .app_overview {
    padding: 132px 0 128px;
  }

  .for_video {
    height: 100%;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: " ";
      width: 100.1%;
      height: 100%;
      background-color: rgba(69, 201, 113, 0.8);
      top: 0;
    }

    &:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f144";
      color: white;
      font-size: 80px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.owl-dots .owl-dot span {
  display: inline-block;
  width: 40px;
  height: 7px;
  border-radius: 4px;
  background-color: #ebe9ff;
  margin: 0 5px;
  transition: .3s;
}

.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -60px;
}

.owl-dot.active span {
  background-color: #00cff1;
  width: 60px;
  height: 7px;
}
#screenshots {
  margin-bottom: 140px;

  .for_img {
    max-width: 350px;
    max-height: 658px;
  }

  h2 {
    span {
      color: #00cff1;
    }

    margin-bottom: 30px;
  }

  p {
    margin-bottom: 80px;
    max-width: 465px;
  }
}

.line {
  margin-bottom: 140px;
  padding: 100px 0;
  background-image: url("../images/line_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover;

  .item {
    transform: skew(35deg, -35deg);
    border: 2px dashed white;
    border-radius: 10px;
    height: 180px;
    width: 150px;
    text-align: center;
    position: relative;

    &:last-of-type {
      .anti_skew {
        left: 40px;

        &:after {
          width: 0;
        }
      }
    }

    &:nth-child(2) {
      .anti_skew {
        &:after {
          right: -107px;
          top: 40px;
        }
      }
    }

    &:nth-child(3) {
      .anti_skew {
        left: 40px;

        &:after {
          right: -110px;
          top: 40px;
        }
      }
    }

    span {
      display: block;
      font-size: 36px;
      color: #fefefe;
      font-weight: 700;

      &:last-of-type {
        font-size: 12px;
        font-weight: 400;
      }
    }

    .anti_skew {
      text-align: center;
      transform: skew(-35deg, 35deg);
      position: absolute;
      left: 35px;
      top: 45px;

      &:after {
        display: block;
        height: 2px;
        content: " ";
        background-color: white;
        position: absolute;
        z-index: -5;
        width: 72px;
        right: -99px;
        top: 40px;
      }
    }
  }
}
#feed{
  .content{
    margin: 0 auto 80px;
    h2{
      span{
        color: #00cff1;
      }
    }
  }
  .for_feedback_img{
    max-width: 90px;
    max-height: 90px;
    overflow: hidden;
    margin: 0 auto 30px;
  }
  .item , .item_g{
    padding: 56px 44px 48px;
    border: 2px solid #ececec;
    text-align: center;
    span{
      display: block;
      font-size: 18px;
      margin-bottom: 35px;
      &:first-of-type{
        color: #00cff1;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    p{
      margin-bottom: 30px;
    }
    .fa-star{
      font-size: 12px;
      color: #eec400;
    }
  }
  .item_g{
    span{
      &:first-of-type{
        color: #24c657;
      }
    }
  }
}